[Unit]
Description=Reactivate headphones after sleep
After=suspend.target

[Service]
Type=simple
ExecStart=/usr/sbin/init-headphone

[Install]
WantedBy=suspend.target

